.col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12(style="height:300px")
    .card(style="height:80%;align-items:center;display: table; width:100%")
        .card-body(style="align-items: center;vertical-align: middle;line-hight:30%;display: table-cell")
            .country_name
                h5.mb-1(style="text-align: center;") #{val.country_name}
            .operator_name
                h3.text-muted(style="line-hight:30%;height:30%;display: block") #{val.operator_name}
            .subs_count
                h2.mb-1 #{val.subs_count}
            h6.text-muted LTE / 3G
            span #{date1}

