.row.dra-selection-row
  span(style='display:none;')#selected-operator
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-bics.btn(onclick="viewRmInfo(this.id)") BICS
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-syniverse.btn(onclick="viewRmInfo(this.id)") Syniverse
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-bbix.btn(onclick="viewRmInfo(this.id)") BBIX
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-sap.btn(onclick="viewRmInfo(this.id)") Sybase(SAP)
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-ibasis.btn(onclick="viewRmInfo(this.id)") iBasis
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-cmi.btn(onclick="viewRmInfo(this.id)") CMI
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-ite.btn IT&amp;E
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
    button#dra-rm-btn-orange.btn Orange
  .col-xs-4.col-md-4.col-lg-1.col-xl-1
  .col-xs-4.col-md-4.col-lg-1.col-xl-1

.row.dra-mno-row
  #dra-mno-panel.row
    .col-xs-1.col-md-1.col-lg-1.col-xl-1
    .table-responsive.col-xs-10.col-md-10.col-lg-10.col-xl-10
      table#dra-mno-table.table
        thead#dra-mno-thead
        tbody#dra-mno-tbody
    .col-xs-1.col-md-1.col-lg-1.col-xl-1


      