extends layout
block content
        .ecommerce-widget
          .row(id = 'cards')
            -each val,index in rows
              include card.jade

        .row(style="height:350px")
          .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12(style="height:100%")
            .simple-card(style="height:100%")
              ul#Tab.nav.nav-tabs(role='tablist', style="height:100%")
                li.col-xl-4.col-12.nav-item(style="padding:0px")
                  a#event-tab.nav-link.active(data-toggle='tab', href='#event', role='tab', aria-controls='event', aria-selected='true') EVENT
                li.col-xl-4.col-12.nav-item(style="padding:0px")
                  a#issue-tab.nav-link(data-toggle='tab', href='#issue', role='tab', aria-controls='issue', aria-selected='false') ISSUE
                ul.col-xl-4.col-12(style="margin-top:7px; padding-right: 10px;")
                  a.btn.active(href='#', onclick="layer_open();return false;", id="addForm_Btn")
                    i.fas.fa-plus
                  a.btn.active(href='#', id="delete_Btn")
                    i.fas.fa-minus
                  a.btn.active(href='#', id="event_allsearch_Btn")
                    i.fas.fa-calendar
                  a.btn.active(href='#', onclick="layer_open2();return false;", id="searchForm_Btn")
                    i.fas.fa-search
                e#TabContent.tab-content
                  #event.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='event-tab', style="height:100%")
                    .table-responsive-sm(style='width: 100%; height:290px; overflow-y:auto; overflow-x: hidden;')
                      table.table.no-wrap
                        thead.bg-light
                          tr.border-0
                          th.border-0 Check
                          th.border-0 Event
                          th.border-0 Country
                          th.border-0 Opeartor
                          th.border-0 Time
                        tbody.search(id='eveSearch')
                          -each val in events
                            include event.jade
                  #issue.tab-pane.fade(role='tabpanel', aria-labelledby='issue-tab')
                    .table-responsive-sm(style='width: 100%; height:290px; overflow-y:auto; overflow-x: hidden;')
                      table.table.no-wrap
                        thead.bg-light
                          tr.border-0
                          th.border-0 Check
                          th.border-0 Issue
                          th.border-0 Country
                          th.border-0 Opeartor
                          th.border-0 Time
                        tbody.search(id='issSearch')
                          -each val in events
                            include issue.jade

          .eventAddForm
            include event_AddForm.jade
          
          .eventSearchForm
            include event_SearchForm.jade
            
          .issueAddForm
            include issue_AddForm.jade
            
          .issueSearchForm
            include issue_SearchForm.jade
                
          
                                      
          #MCC_MNC_searchForm_event.layer
            .bg
            #layer6.pop-layer(style="width: 600px;")
              .pop-container
                .pop-conts
                  .btn-r
                    .card(style="width: 600px;")
                      h3.card-header 
                        a(style="color: #ffc750b3;") MCC&MNC Search
                        a.jg.btn.btn-outline-light.float-right(type='button', id="MCC_MNC_selectBtn_event") 확인
                        a.jg.btn.btn-outline-light.float-left(type='button', id="MCC_MNC_cancelBtn_event") 취소
                      .card-body.p-0
                        .table-responsive(style='width: 100%; height:285px; overflow-y:auto; overflow-x: hidden;')
                          table.table
                            thead.bg-light
                              tr.border-0
                                th.border-0 Check
                                th.border-0 Country
                                th.border-0 Operator
                                th.border-0 MCC
                                th.border-0 MNC
                            tbody.search(id='totSearch')
                              -each val in rows_all
                                include MCC_MNC_search_tbl_event.jade
                                
          #MCC_MNC_searchForm_issue.layer
            .bg
            #layer7.pop-layer(style="width: 600px;")
              .pop-container
                .pop-conts
                  .btn-r
                    .card(style="width: 600px;")
                      h3.card-header 
                        a(style="color: #ffc750b3;") MCC&MNC Search
                        a.jg.btn.btn-outline-light.float-right(type='button', id="MCC_MNC_selectBtn_issue") 확인
                        a.jg.btn.btn-outline-light.float-left(type='button', id="MCC_MNC_cancelBtn_issue") 취소
                      .card-body.p-0
                        .table-responsive(style='width: 100%; height:285px; overflow-y:auto; overflow-x: hidden;')
                          table.table
                            thead.bg-light
                              tr.border-0
                                th.border-0 Check
                                th.border-0 Country
                                th.border-0 Operator
                                th.border-0 MCC
                                th.border-0 MNC
                            tbody.search(id='totSearch')
                              -each val in rows_all
                                include MCC_MNC_search_tbl_issue.jade
          //- .card-body
          //-   .ct-chart.ct-golden-section(style='height: 150px;')
          //-   .text-center
          //-    .search(id='eveSearch')
          //-      -each val in events
          //-        include events.jade
          //-     //input.form-control(id='eventSearch', type='text', placeholder='조회한 내용 표시', style='height: 70px;')
          //-   li
          //-     input(id='eventID', type='text', placeholder='이벤트 번호', style='width: 100px;')
          //-   li
          //-     input(id='eventStYear', type='text', placeholder='시작 년도', style='width: 100px;')
          //-     input(id='eventStMon', type='text', placeholder='시작 월', style='width: 100px;')
          //-     input(id='eventStDay', type='text', placeholder='시작 일', style='width: 100px;')
          //-   li
          //-     input(id='eventEnYear', type='text', placeholder='끝나는 년도', style='width: 100px;')
          //-     input(id='eventEnMon', type='text', placeholder='끝나는 월', style='width: 100px;')
          //-     input(id='eventEnDay', type='text', placeholder='끝나는 일', style='width: 100px;')
          //-   li
          //-     input.form-control(id='eventAdd', type='text', placeholder='입력하세요..')

          //-     span.legend-item.mr-2
          //-       span.fa-xs.text-primary.mr-1.legend-tile
          //-         i.fa.fa-fw.fa-square-full
          //-       span.legend-text Returning
          //-     span.legend-item.mr-2
          //-       span.fa-xs.text-secondary.mr-1.legend-tile
          //-         i.fa.fa-fw.fa-square-full
          //-       span.legend-text First Time
          //
          // ==============================================================
          // end customer acquistion
          // ============================================================== 
          // ==============================================================
          // ==============================================================
          // recent orders
          // ==============================================================

          .col-xl-8.col-lg-12.col-md-6.col-sm-12.col-12(style="height:100%")
            .card
              h3.card-header Total Info
                input.float-left(type='checkbox',id='allCheck',style="width: 17px; height: 17px; margin-top: 15px; margin-left: 13px;")
                a.jg.btn.btn-outline-light.float-right(type='button', id="selectBtn") 확인
                a.jg.btn.btn-outline-light.float-right(type='button', id="excelDown") 엑셀다운
              .card-body.p-0
                .table-responsive(style='width: 100%; height:285px; overflow-y:auto; overflow-x: hidden;')
                  table.table
                    thead.bg-light
                      tr.border-0
                        th.border-0 Check
                        th.border-0 #
                        th.border-0 Country
                        th.border-0 Operator
                        th.border-0 OB - LTE
                        th.border-0 OB - 3G
                        th.border-0 IB - LTE
                        th.border-0 IB -3G
                        th.border-0 Detail
                    tbody.search(id='totSearch')
                      -each val,index in rows_all
                        include total.jade

                       
          .detail_info(id='detail-info')
            -each val,index in rows_all
              include detail.jade
            
                        
          .layer
            table(id='excelInfo', style='border:thin solid black;')
              thead.bg-light
                tr.border-0
                  th(style='border:thin solid black; background-color: LightBlue;') MCC
                  th(style='border:thin solid black; background-color: LightBlue;') MNC
                  th(style='border:thin solid black; background-color: LightBlue;') Country
                  th(style='border:thin solid black; background-color: LightBlue;') Operator
                  th(style='border:thin solid black; background-color: LightBlue;') OB-5G
                  th(style='border:thin solid black; background-color: LightBlue;') OB-LTE
                  th(style='border:thin solid black; background-color: LightBlue;') OB-3G
                  th(style='border:thin solid black; background-color: LightBlue;') IB-LTE
                  th(style='border:thin solid black; background-color: LightBlue;') IB-3G
                  th(style='border:thin solid black; background-color: LightBlue;') Dra name
                  th(style='border:thin solid black; background-color: LightBlue;') HDV(1:가능)
                  th(style='border:thin solid black; background-color: LightBlue;') Office Hour
                  th(style='border:thin solid black; background-color: LightBlue;') Out of Office Hour
                  th(style='border:thin solid black; background-color: LightBlue;') E-mail
              tbody.search
                -each val,index in rows_all
                  include excelInfo.jade
                


          // ==============================================================
          // end recent orders
          // ==============================================================

          // ==============================================================
          // end sales traffice country source
          // ==============================================================
          // ==============================================================
          // footer
          // ==============================================================

          script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
          script(src="https://code.jquery.com/jquery-3.4.1.js")
          script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')

          script(src='/assets/libs/js/skt/checkBox.js')
          script(src='/assets/libs/js/skt/search.js')
          script(src='/assets/libs/js/skt/event_add.js')
          script(src='/assets/libs/js/skt/event_search.js')
          script(src='/assets/libs/js/skt/EVE_ISS_state.js')
          script(src='/assets/libs/js/skt/addForm_Btn.js')
          script(src='/assets/libs/js/skt/delete_Btn.js')
          script(src='/assets/libs/js/skt/searchForm_Btn.js')
          script(src='/assets/libs/js/skt/issue_add.js') //어떤 값 받을지 결정해야 할 듯
          script(src='/assets/libs/js/skt/issue_search.js')
          script(src='/assets/libs/js/skt/card-show.js')
          script(src='/assets/libs/js/skt/change-bound.js')
          script(src='/assets/libs/js/skt/MCC_MNC_searchForm.js')
          script(src='/assets/libs/js/skt/detail_layer.js')
          script(src='/assets/libs/js/skt/MCC_MNC_selectBtn.js')
          script(src='/assets/libs/js/skt/show_rawData.js')
          script(src='/assets/libs/js/skt/show_before_rawData.js')
          script(src='/assets/libs/js/skt/show_after_rawData.js')
          script(src='/assets/libs/js/skt/jquery.techbytarun.excelexportjs.js')
