extends layout
block content
  .ecommerce-widget
                .row 
                  -each val in rows
                    include card.jade           
                .row
                  // ==============================================================
                  // customer acquistion
                  // ==============================================================
                  .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
                    .card
                      h5.card-header Customer Acquisition
                      .card-body
                        .ct-chart.ct-golden-section(style='height: 354px;')
                        .text-center
                          span.legend-item.mr-2
                            span.fa-xs.text-primary.mr-1.legend-tile
                              i.fa.fa-fw.fa-square-full
                            span.legend-text Returning
                          span.legend-item.mr-2
                            span.fa-xs.text-secondary.mr-1.legend-tile
                              i.fa.fa-fw.fa-square-full
                            span.legend-text First Time
                  // ==============================================================
                  // end customer acquistion
                  // ============================================================== 
                  // ==============================================================
                  // ==============================================================
                  // recent orders
                  // ==============================================================
                  .col-xl-8.col-lg-12.col-md-6.col-sm-12.col-12
                    .card
                      h5.card-header Recent Orders
                      .card-body.p-0
                        .table-responsive
                          table.table
                            thead.bg-light
                              tr.border-0
                                th.border-0 #
                                th.border-0 Image
                                th.border-0 Product Name
                                th.border-0 Product Id
                                th.border-0 Quantity
                                th.border-0 Price
                                th.border-0 Order Time
                                th.border-0 Customer
                                th.border-0 Status
                            tbody
                              tr
                                td 1
                                td
                                  .m-r-10
                                    img.rounded(src='/assets/images/product-pic.jpg', alt='user', width='45')
                                td Product #1 
                                td id000001 
                                td 20
                                td $80.00
                                td 27-08-2018 01:22:12
                                td Patricia J. King 
                                td
                                  span.badge-dot.badge-brand.mr-1
                                  | InTransit
                              tr
                                td 2
                                td
                                  .m-r-10
                                    img.rounded(src='/assets/images/product-pic-2.jpg', alt='user', width='45')
                                td Product #2 
                                td id000002 
                                td 12
                                td $180.00
                                td 25-08-2018 21:12:56
                                td Rachel J. Wicker 
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td 3
                                td
                                  .m-r-10
                                    img.rounded(src='/assets/images/product-pic-3.jpg', alt='user', width='45')
                                td Product #3 
                                td id000003 
                                td 23
                                td $820.00
                                td 24-08-2018 14:12:77
                                td Michael K. Ledford 
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td 4
                                td
                                  .m-r-10
                                    img.rounded(src='/assets/images/product-pic-4.jpg', alt='user', width='45')
                                td Product #4 
                                td id000004 
                                td 34
                                td $340.00
                                td 23-08-2018 09:12:35
                                td Michael K. Ledford 
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td(colspan='9')
                                  a.btn.btn-outline-light.float-right(href='#') View Details
                  // ==============================================================
                  // end recent orders
                  // ==============================================================
                  
                .row
                  // ==============================================================
                  // product category
                  // ==============================================================
                  .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
                    .card
                      h5.card-header  Product Category
                      .card-body
                        .ct-chart-category.ct-golden-section(style='height: 315px;')
                        .text-center.m-t-40
                          span.legend-item.mr-3
                            span.fa-xs.text-primary.mr-1.legend-tile
                              i.fa.fa-fw.fa-square-full
                            span.legend-text Man
                          span.legend-item.mr-3
                            span.fa-xs.text-secondary.mr-1.legend-tile
                              i.fa.fa-fw.fa-square-full
                            span.legend-text Woman
                          span.legend-item.mr-3
                            span.fa-xs.text-info.mr-1.legend-tile
                              i.fa.fa-fw.fa-square-full
                            span.legend-text Accessories
                  // ==============================================================
                  // end product category
                  // product sales
                  // ==============================================================
                  .col-xl-6.col-lg-12.col-md-12.col-sm-12.col-12
                    .card
                      .card-header
                        //
                          <div class="float-right">
                          <select class="custom-select">
                          <option selected>Today</option>
                          <option value="1">Weekly</option>
                          <option value="2">Monthly</option>
                          <option value="3">Yearly</option>
                          </select>
                          </div>
                        h5.mb-0  Product Sales
                      .card-body
                        .ct-chart-product.ct-golden-section
                  // ==============================================================
                  // end product sales
                  // ==============================================================
                  .col-xl-3.col-lg-12.col-md-6.col-sm-12.col-12
                    // ==============================================================
                    // top perfomimg
                    // ==============================================================
                    .card
                      h5.card-header Top Performing Campaigns
                      .card-body.p-0
                        .table-responsive
                          table.table.no-wrap.p-table
                            thead.bg-light
                              tr.border-0
                                th.border-0 Campaign
                                th.border-0 Visits
                                th.border-0 Revenue
                            tbody
                              tr
                                td Campaign#1
                                td 98,789 
                                td $4563
                              tr
                                td Campaign#2
                                td 2,789 
                                td $325
                              tr
                                td Campaign#3
                                td 1,459 
                                td $225
                              tr
                                td Campaign#4
                                td 5,035 
                                td $856
                              tr
                                td Campaign#5
                                td 10,000 
                                td $1000
                              tr
                                td Campaign#5
                                td 10,000 
                                td $1000
                              tr
                                td(colspan='3')
                                  a.btn.btn-outline-light.float-right(href='#') Details
                    // ==============================================================
                    // end top perfomimg
                    // ==============================================================
                .row
                  // ==============================================================
                  // sales
                  // ==============================================================
                  .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12
                    .card.border-3.border-top.border-top-primary
                      .card-body
                        h5.text-muted Sales
                        .metric-value.d-inline-block
                          h1.mb-1 $12099
                        .metric-label.d-inline-block.float-right.text-success.font-weight-bold
                          span.icon-circle-small.icon-box-xs.text-success.bg-success-light
                            i.fa.fa-fw.fa-arrow-up
                          span.ml-1 5.86%
                  // ==============================================================
                  // end sales
                  // ==============================================================
                  // ==============================================================
                  // new customer
                  // ==============================================================
                  .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12
                    .card.border-3.border-top.border-top-primary
                      .card-body
                        h5.text-muted New Customer
                        .metric-value.d-inline-block
                          h1.mb-1 1245
                        .metric-label.d-inline-block.float-right.text-success.font-weight-bold
                          span.icon-circle-small.icon-box-xs.text-success.bg-success-light
                            i.fa.fa-fw.fa-arrow-up
                          span.ml-1 10%
                  // ==============================================================
                  // end new customer
                  // ==============================================================
                  // ==============================================================
                  // visitor
                  // ==============================================================
                  .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12
                    .card.border-3.border-top.border-top-primary
                      .card-body
                        h5.text-muted Visitor
                        .metric-value.d-inline-block
                          h1.mb-1 13000
                        .metric-label.d-inline-block.float-right.text-success.font-weight-bold
                          span.icon-circle-small.icon-box-xs.text-success.bg-success-light
                            i.fa.fa-fw.fa-arrow-up
                          span.ml-1 5%
                  // ==============================================================
                  // end visitor
                  // ==============================================================
                  // ==============================================================
                  // total orders
                  // ==============================================================
                  .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12
                    .card.border-3.border-top.border-top-primary
                      .card-body
                        h5.text-muted Total Orders
                        .metric-value.d-inline-block
                          h1.mb-1 1340
                        .metric-label.d-inline-block.float-right.text-danger.font-weight-bold
                          span.icon-circle-small.icon-box-xs.text-danger.bg-danger-light.bg-danger-light
                            i.fa.fa-fw.fa-arrow-down
                          span.ml-1 4%
                  // ==============================================================
                  // end total orders
                  // ==============================================================
                .row
                  // ==============================================================
                  // total revenue
                  // ==============================================================
                  // ==============================================================
                  // ==============================================================
                  // category revenue
                  // ==============================================================
                  .col-xl-5.col-lg-5.col-md-12.col-sm-12.col-12
                    .card
                      h5.card-header Revenue by Category
                      .card-body
                        #c3chart_category(style='height: 420px;')
                  // ==============================================================
                  // end category revenue
                  // ==============================================================
                  .col-xl-7.col-lg-7.col-md-12.col-sm-12.col-12
                    .card
                      h5.card-header  Total Revenue
                      .card-body
                        #morris_totalrevenue
                      .card-footer
                        p.display-7.font-weight-bold
                          span.text-primary.d-inline-block $26,000
                          span.text-success.float-right +9.45%
                .row
                  .col-xl-5.col-lg-6.col-md-6.col-sm-12.col-12
                    // ==============================================================
                    // social source
                    // ==============================================================
                    .card
                      h5.card-header  Sales By Social Source
                      .card-body.p-0
                        ul.social-sales.list-group.list-group-flush
                          li.list-group-item.social-sales-content
                            span.social-sales-icon-circle.facebook-bgcolor.mr-2
                              i.fab.fa-facebook-f
                            span.social-sales-name Facebook
                            span.social-sales-count.text-dark 120 Sales
                          li.list-group-item.social-sales-content
                            span.social-sales-icon-circle.twitter-bgcolor.mr-2
                              i.fab.fa-twitter
                            span.social-sales-name Twitter
                            span.social-sales-count.text-dark 99 Sales
                          li.list-group-item.social-sales-content
                            span.social-sales-icon-circle.instagram-bgcolor.mr-2
                              i.fab.fa-instagram
                            span.social-sales-name Instagram
                            span.social-sales-count.text-dark 76 Sales
                          li.list-group-item.social-sales-content
                            span.social-sales-icon-circle.pinterest-bgcolor.mr-2
                              i.fab.fa-pinterest-p
                            span.social-sales-name Pinterest
                            span.social-sales-count.text-dark 56 Sales
                          li.list-group-item.social-sales-content
                            span.social-sales-icon-circle.googleplus-bgcolor.mr-2
                              i.fab.fa-google-plus-g
                            span.social-sales-name Google Plus
                            span.social-sales-count.text-dark 36 Sales
                      .card-footer.text-center
                        a.btn-primary-link(href='#') View Details
                    // ==============================================================
                    // end social source
                    // ==============================================================
                  .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12
                    // ==============================================================
                    // sales traffice source
                    // ==============================================================
                    .card
                      h5.card-header  Sales By Traffic Source
                      .card-body.p-0
                        ul.traffic-sales.list-group.list-group-flush
                          li.traffic-sales-content.list-group-item
                            span.traffic-sales-name Direct
                            span.traffic-sales-amount
                              | $4000.00  
                              span.icon-circle-small.icon-box-xs.text-success.ml-4.bg-success-light
                                i.fa.fa-fw.fa-arrow-up
                              span.ml-1.text-success 5.86%
                          li.traffic-sales-content.list-group-item
                            span.traffic-sales-name
                              | Search
                              span.traffic-sales-amount
                                | $3123.00  
                                span.icon-circle-small.icon-box-xs.text-success.ml-4.bg-success-light
                                  i.fa.fa-fw.fa-arrow-up
                                span.ml-1.text-success 5.86%
                          li.traffic-sales-content.list-group-item
                            span.traffic-sales-name
                              | Social
                              span.traffic-sales-amount
                                | $3099.00  
                                span.icon-circle-small.icon-box-xs.text-success.ml-4.bg-success-light
                                  i.fa.fa-fw.fa-arrow-up
                                span.ml-1.text-success 5.86%
                          li.traffic-sales-content.list-group-item
                            span.traffic-sales-name
                              | Referrals
                              span.traffic-sales-amount
                                | $2220.00   
                                span.icon-circle-small.icon-box-xs.text-danger.ml-4.bg-danger-light
                                  i.fa.fa-fw.fa-arrow-down
                                span.ml-1.text-danger 4.02%
                          li.traffic-sales-content.list-group-item
                            span.traffic-sales-name
                              | Email
                              span.traffic-sales-amount
                                | $1567.00   
                                span.icon-circle-small.icon-box-xs.text-danger.ml-4.bg-danger-light
                                  i.fa.fa-fw.fa-arrow-down
                                span.ml-1.text-danger 3.86%
                      .card-footer.text-center
                        a.btn-primary-link(href='#') View Details
                  // ==============================================================
                  // end sales traffice source
                  // ==============================================================
                  // ==============================================================
                  // sales traffic country source
                  // ==============================================================
                  .col-xl-3.col-lg-12.col-md-6.col-sm-12.col-12
                    .card
                      h5.card-header Sales By Country Traffic Source
                      .card-body.p-0
                        ul.country-sales.list-group.list-group-flush
                          li.country-sales-content.list-group-item
                            span.mr-2
                              i#us.flag-icon.flag-icon-us(title='us')
                            span United States
                            span.float-right.text-dark 78%
                          li.list-group-item.country-sales-content
                            span.mr-2
                              i#ca.flag-icon.flag-icon-ca(title='ca')
                            span Canada
                            span.float-right.text-dark 7%
                          li.list-group-item.country-sales-content
                            span.mr-2
                              i#ru.flag-icon.flag-icon-ru(title='ru')
                            span Russia
                            span.float-right.text-dark 4%
                          li.list-group-item.country-sales-content
                            span.mr-2
                              i#in.flag-icon.flag-icon-in(title='in')
                            span India
                            span.float-right.text-dark 12%
                          li.list-group-item.country-sales-content
                            span.mr-2
                              i#fr.flag-icon.flag-icon-fr(title='fr')
                            span France
                            span.float-right.text-dark 16%
                      .card-footer.text-center
                        a.btn-primary-link(href='#') View Details
                  // ==============================================================
                  // end sales traffice country source
                  // ==============================================================
                  // ==============================================================
                  // footer
                  // ==============================================================
                  
