doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap.min.css')
    link(href='/assets/vendor/fonts/circular-std/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/libs/css/style.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
    link(rel='stylesheet', href='/assets/vendor/charts/chartist-bundle/chartist.css')
    link(rel='stylesheet', href='/assets/vendor/charts/morris-bundle/morris.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='/assets/vendor/charts/c3charts/c3.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
    title Concept - Bootstrap 4 Admin Dashboard Template
  body
    // ==============================================================
    // main wrapper
    // ==============================================================
    .dashboard-main-wrapper
      // ==============================================================
      // navbar
      // ==============================================================
      .dashboard-header
        nav.navbar.navbar-expand-lg.bg-white.fixed-top
          a.navbar-brand(href='/') Roaming Signage
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.navbar-right-top
              //추가한 부분
              li.search_type
                #custom-search-type
                  select(name='Search', id='select_option')
                    option(value='', selected='') -- 선택 --
                    option(value='03') 국가
                    option(value='04') 사업자명
                    option(value='05') 중계사업자명
              li.nav-item
                #custom-search.top-search-bar
                  input.form-control(id='search', type='text', placeholder='Search..')
              li.nav-item.dropdown.notification
                a#navbarDropdownMenuLink1.nav-link.nav-icons(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-fw.fa-bell
                  span.indicator
                ul.dropdown-menu.dropdown-menu-right.notification-dropdown
                  li
                    .notification-title  Notification
                    .notification-list
                      .list-group
                        a.list-group-item.list-group-item-action.active(href='#')
                          .notification-info
                            .notification-list-user-img
                              img.user-avatar-md.rounded-circle(src='/assets/images/avatar-2.jpg', alt='')
                            .notification-list-user-block
                              span.notification-list-user-name Jeremy Rakestraw
                              | accepted your invitation to join the team.
                              .notification-date 2 min ago
                        a.list-group-item.list-group-item-action(href='#')
                          .notification-info
                            .notification-list-user-img
                              img.user-avatar-md.rounded-circle(src='/assets/images/avatar-3.jpg', alt='')
                            .notification-list-user-block
                              span.notification-list-user-name John Abraham 
                              | is now following you
                              .notification-date 2 days ago
                        a.list-group-item.list-group-item-action(href='#')
                          .notification-info
                            .notification-list-user-img
                              img.user-avatar-md.rounded-circle(src='/assets/images/avatar-4.jpg', alt='')
                            .notification-list-user-block
                              span.notification-list-user-name Monaan Pechi
                              |  is watching your main repository
                              .notification-date 2 min ago
                        a.list-group-item.list-group-item-action(href='#')
                          .notification-info
                            .notification-list-user-img
                              img.user-avatar-md.rounded-circle(src='/assets/images/avatar-5.jpg', alt='')
                            .notification-list-user-block
                              span.notification-list-user-name Jessica Caruso
                              | accepted your invitation to join the team.
                              .notification-date 2 min ago
                  li
                    .list-footer
                      a(href='#') View all notifications
              li.nav-item.dropdown.connection
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-fw.fa-th
                ul.dropdown-menu.dropdown-menu-right.connection-dropdown
                  li.connection-list
                    .row
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/github.png', alt='')
                          span Github
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/dribbble.png', alt='')
                          span Dribbble
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/dropbox.png', alt='')
                          span Dropbox
                    .row
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/bitbucket.png', alt='')
                          span Bitbucket
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/mail_chimp.png', alt='')
                          span Mail chimp
                      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                        a.connection-item(href='#')
                          img(src='/assets/images/slack.png', alt='')
                          span Slack
                  li
                    .conntection-footer
                      a(href='#') More
              li.nav-item.dropdown.nav-user
                a#navbarDropdownMenuLink2.nav-link.nav-user-img(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.user-avatar-md.rounded-circle(src='/assets/images/avatar-1.jpg', alt='')
                .dropdown-menu.dropdown-menu-right.nav-user-dropdown(aria-labelledby='navbarDropdownMenuLink2')
                  .nav-user-info
                    h5.mb-0.text-white.nav-user-name John Abraham 
                    span.status
                    span.ml-2 Available
                  a.dropdown-item(href='#')
                    i.fas.fa-user.mr-2
                    | Account
                  a.dropdown-item(href='#')
                    i.fas.fa-cog.mr-2
                    | Setting
                  a.dropdown-item(href='#')
                    i.fas.fa-power-off.mr-2
                    | Logout
      // ==============================================================
      // end navbar
      // ==============================================================
      // ==============================================================
      // left sidebar
      // ==============================================================
      
      //- .nav-left-sidebar.sidebar-dark
      //-   .menu-list
      //-     nav.navbar.navbar-expand-lg.navbar-light
      //-       a.d-xl-none.d-lg-none(href='#') Dashboard
      //-       button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      //-         span.navbar-toggler-icon
      //-       #navbarNav.collapse.navbar-collapse
      //-         ul.navbar-nav.flex-column
      //-           li.nav-divider
      //-             | Menu
      //-           li.nav-item
      //-             a.nav-link.active(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1', aria-controls='submenu-1')
      //-               i.fa.fa-fw.fa-user-circle
      //-               | Dashboard 
      //-               span.badge.badge-success 6
      //-             #submenu-1.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1-2', aria-controls='submenu-1-2') E-Commerce
      //-                   #submenu-1-2.collapse.submenu(style='')
      //-                     ul.nav.flex-column
      //-                       li.nav-item
      //-                         a.nav-link(href='index.html') E Commerce Dashboard
      //-                       li.nav-item
      //-                         a.nav-link(href='ecommerce-product.html') Product List
      //-                       li.nav-item
      //-                         a.nav-link(href='ecommerce-product-single.html') Product Single
      //-                       li.nav-item
      //-                         a.nav-link(href='ecommerce-product-checkout.html') Product Checkout
      //-                 li.nav-item
      //-                   a.nav-link(href='dashboard-finance.html') Finance
      //-                 li.nav-item
      //-                   a.nav-link(href='dashboard-sales.html') Sales
      //-                 li.nav-item
      //-                   a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1-1', aria-controls='submenu-1-1') Infulencer
      //-                   #submenu-1-1.collapse.submenu(style='')
      //-                     ul.nav.flex-column
      //-                       li.nav-item
      //-                         a.nav-link(href='dashboard-influencer.html') Influencer
      //-                       li.nav-item
      //-                         a.nav-link(href='influencer-finder.html') Influencer Finder
      //-                       li.nav-item
      //-                         a.nav-link(href='influencer-profile.html') Influencer Profile
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-2', aria-controls='submenu-2')
      //-               i.fa.fa-fw.fa-rocket
      //-               | UI Elements
      //-             #submenu-2.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/cards.html')
      //-                     | Cards 
      //-                     span.badge.badge-secondary New
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/general.html') General
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/carousel.html') Carousel
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/listgroup.html') List Group
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/typography.html') Typography
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/accordions.html') Accordions
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/tabs.html') Tabs
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-3', aria-controls='submenu-3')
      //-               i.fas.fa-fw.fa-chart-pie
      //-               | Chart
      //-             #submenu-3.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-c3.html') C3 Charts
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-chartist.html') Chartist Charts
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-charts.html') Chart
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-morris.html') Morris
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-sparkline.html') Sparkline
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/chart-gauge.html') Guage
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-4', aria-controls='submenu-4')
      //-               i.fab.fa-fw.fa-wpforms
      //-               | Forms
      //-             #submenu-4.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/form-elements.html') Form Elements
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/form-validation.html') Parsely Validations
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/multiselect.html') Multiselect
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/datepicker.html') Date Picker
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/bootstrap-select.html') Bootstrap Select
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-5', aria-controls='submenu-5')
      //-               i.fas.fa-fw.fa-table
      //-               | Tables
      //-             #submenu-5.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/general-table.html') General Tables
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/data-tables.html') Data Tables
      //-           li.nav-divider
      //-             | Features
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-6', aria-controls='submenu-6')
      //-               i.fas.fa-fw.fa-file
      //-               |  Pages
      //-             #submenu-6.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/blank-page.html') Blank Page
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/blank-page-header.html') Blank Page Header
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/login.html') Login
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/404-page.html') 404 page
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/sign-up.html') Sign up Page
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/forgot-password.html') Forgot Password
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/pricing.html') Pricing Tables
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/timeline.html') Timeline
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/calendar.html') Calendar
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/sortable-nestable-lists.html') Sortable/Nestable List
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/widgets.html') Widgets
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/media-object.html') Media Objects
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/cropper-image.html') Cropper
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/color-picker.html') Color Picker
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-7', aria-controls='submenu-7')
      //-               i.fas.fa-fw.fa-inbox
      //-               | Apps 
      //-               span.badge.badge-secondary New
      //-             #submenu-7.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/inbox.html') Inbox
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/email-details.html') Email Detail
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/email-compose.html') Email Compose
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/message-chat.html') Message Chat
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-8', aria-controls='submenu-8')
      //-               i.fas.fa-fw.fa-columns
      //-               | Icons
      //-             #submenu-8.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-fontawesome.html') FontAwesome Icons
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-material.html') Material Icons
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-simple-lineicon.html') Simpleline Icon
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-themify.html') Themify Icon
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-flag.html') Flag Icons
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/icon-weather.html') Weather Icon
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-9', aria-controls='submenu-9')
      //-               i.fas.fa-fw.fa-map-marker-alt
      //-               | Maps
      //-             #submenu-9.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/map-google.html') Google Maps
      //-                 li.nav-item
      //-                   a.nav-link(href='pages/map-vector.html') Vector Maps
      //-           li.nav-item
      //-             a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-10', aria-controls='submenu-10')
      //-               i.fas.fa-f.fa-folder
      //-               | Menu Level
      //-             #submenu-10.collapse.submenu(style='')
      //-               ul.nav.flex-column
      //-                 li.nav-item
      //-                   a.nav-link(href='#') Level 1
      //-                 li.nav-item
      //-                   a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-11', aria-controls='submenu-11') Level 2
      //-                   #submenu-11.collapse.submenu(style='')
      //-                     ul.nav.flex-column
      //-                       li.nav-item
      //-                         a.nav-link(href='#') Level 1
      //-                       li.nav-item
      //-                         a.nav-link(href='#') Level 2
      //-                 li.nav-item
      //-                   a.nav-link(href='#') Level 3
                        
      // ==============================================================
      // end left sidebar
      // ==============================================================
      // ==============================================================
      // wrapper
      // ==============================================================
      .dashboard-wrapper
        .dashboard-ecommerce
          .container-fluid.dashboard-content
            // ==============================================================
            // pageheader
            // ==============================================================
            //- .row
            //-   .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            //-     .page-header
            //-       h2.pageheader-title E-commerce Dashboard Template 
            //-       p.pageheader-text
            //-         | Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.
            //-       .page-breadcrumb
            //-         nav(aria-label='breadcrumb')
            //-           ol.breadcrumb
            //-             li.breadcrumb-item
            //-               a.breadcrumb-link(href='#') Dashboard
            //-             li.breadcrumb-item.active(aria-current='page') E-Commerce Dashboard Template
            // ==============================================================
            // end pageheader
            // ==============================================================
            
            // Main
            block content

                .footer
                  .container-fluid
                    .row
                      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                        | Copyright © 2018 Concept. All rights reserved. Dashboard by 
                        a(href='https://colorlib.com/wp/') Colorlib
                        | .
                      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                        .text-md-right.footer-links.d-none.d-sm-block
                          a(href='javascript: void(0);') About
                          a(href='javascript: void(0);') Support
                          a(href='javascript: void(0);') Contact Us
                // ==============================================================
                // end footer
                // ==============================================================
                // ==============================================================
                // end wrapper
                // ==============================================================
                // ==============================================================
                // end main wrapper
                // ==============================================================
                // Optional JavaScript
                // jquery 3.3.1
                script(src='/assets/vendor/jquery/jquery-3.3.1.min.js')
                // bootstap bundle js
                script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')
                // slimscroll js
                script(src='/assets/vendor/slimscroll/jquery.slimscroll.js')
                // main js
                script(src='/assets/libs/js/main-js.js')
                // chart chartist js
                script(src='/assets/vendor/charts/chartist-bundle/chartist.min.js')
                // sparkline js
                script(src='/assets/vendor/charts/sparkline/jquery.sparkline.js')
                // morris js
                script(src='/assets/vendor/charts/morris-bundle/raphael.min.js')
                script(src='/assets/vendor/charts/morris-bundle/morris.js')
                // chart c3 js
                script(src='/assets/vendor/charts/c3charts/c3.min.js')
                script(src='/assets/vendor/charts/c3charts/d3-5.4.0.min.js')
                script(src='/assets/vendor/charts/c3charts/C3chartjs.js')
                script(src='/assets/libs/js/dashboard-ecommerce.js')
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
                script(src="https://code.jquery.com/jquery-3.4.1.js")
                script(src='/assets/js/search.js')
