doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap-select/css/bootstrap-select.css')
    link(href='/assets/vendor/fonts/circular-std/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/libs/css/style.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
    link(rel='stylesheet', href='/assets/vendor/charts/chartist-bundle/chartist.css')
    link(rel='stylesheet', href='/assets/vendor/charts/morris-bundle/morris.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='/assets/vendor/charts/c3charts/c3.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
    link(rel='stylesheet', href='/assets/vendor/datepicker/tempusdominus-bootstrap-4.css')
    link(rel='stylesheet', href='/assets/vendor/datatables/css/buttons.bootstrap4.css')
    link(rel='stylesheet', href='/assets/vendor/inputmask/css/inputmask.css')
    link(href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet")
    title Concept - Bootstrap 4 Admin Dashboard Template
  body
    // ==============================================================
    // main wrapper
    // ==============================================================
    .dashboard-main-wrapper
      // ==============================================================
      // navbar
      // ==============================================================
      .dashboard-header
        nav.navbar.navbar-expand-lg.fixed-top
          a.navbar-brand(href='/') Roaming Signage
        
          #navbarSupportedContent.collapse.navbar-collapse

            a.btn.btn-secondary(href='#', style="margin:10px", id="btn-ob") OUTBOUND
            a.btn.btn-outline-secondary(href='#', style="margin:10px", id="btn-ib") INBOUND
            
            li.navbar-nav.ml-auto.navbar-right-top
              //추가한 부분
              .input-group
                .form-group(style="height:100%")
                  //button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') TYPE
                  //.dropdown-menu.show(x-placement='bottom-start', style='position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;')
                  select.form-control-sm(id='select_option', style="height:100%")
                    option(value='', selected='') TYPE
                    option.dropdown-item(value='03') 국가
                    option.dropdown-item(value='04') 사업자
                    option.dropdown-item(value='05') 중계사업자
                .form-group
                  .input-group(style="height:100%")
                    input.form-control(id='search', type='text', style="margin-left:5px; height:100%")
                    .input-group-append
                      .input-group-text
                        i.fas.fa-search

//-
              li.nav-item.dropdown.nav-user
                a#navbarDropdownMenuLink2.nav-link.nav-user-img(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.user-avatar-md.rounded-circle(src='/assets/images/avatar-1.jpg', alt='')
                .dropdown-menu.dropdown-menu-right.nav-user-dropdown(aria-labelledby='navbarDropdownMenuLink2')
                  .nav-user-info
                    h5.mb-0.text-white.nav-user-name John Abraham 
                    span.status
                    span.ml-2 Available
                  a.dropdown-item(href='#')
                    i.fas.fa-user.mr-2
                    | Account
                  a.dropdown-item(href='#')
                    i.fas.fa-cog.mr-2
                    | Setting
                  a.dropdown-item(href='#')
                    i.fas.fa-power-off.mr-2
                    | Logout
-//
      // ==============================================================
      // end navbar
      // ==============================================================
      // ==============================================================
      // left sidebar
      // ==============================================================
      


      // ==============================================================
      // end left sidebar
      // ==============================================================
      // ==============================================================
      // wrapper
      // ==============================================================
      .dashboard-wrapper
        .dashboard-ecommerce
          .container-fluid.dashboard-content
            // ==============================================================
            // pageheader
            // ==============================================================
            //- .row
            //-   .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            //-     .page-header
            //-       h2.pageheader-title E-commerce Dashboard Template 
            //-       p.pageheader-text
            //-         | Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.
            //-       .page-breadcrumb
            //-         nav(aria-label='breadcrumb')
            //-           ol.breadcrumb
            //-             li.breadcrumb-item
            //-               a.breadcrumb-link(href='#') Dashboard
            //-             li.breadcrumb-item.active(aria-current='page') E-Commerce Dashboard Template
            // ==============================================================
            // end pageheader
            // ==============================================================
            
            // Main
            block content

                .footer
                  .container-fluid
                    .row
                      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                        | Copyright © 2018 Concept. All rights reserved. Dashboard by 
                        a(href='https://colorlib.com/wp/') Colorlib
                        | .
                      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                        .text-md-right.footer-links.d-none.d-sm-block
                          a(href='javascript: void(0);') About
                          a(href='javascript: void(0);') Support
                          a(href='javascript: void(0);') Contact Us
                // ==============================================================
                // end footer
                // ==============================================================
                // ==============================================================
                // end wrapper
                // ==============================================================
                // ==============================================================
                // end main wrapper
                // ==============================================================
                // Optional JavaScript
                // jquery 3.3.1
                script(src='/assets/vendor/jquery/jquery-3.3.1.min.js')
                // bootstap bundle js
                //script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')
                script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')

                //dropdown
                script(src='/assets/vendor/bootstrap-select/js/bootstrap-select.js')
                script(src='/assets/vendor/summernote/js/summernote-bs4.js')
                script(src='/assets/vendor/select2/js/select2.min.js')
                script(src='/assets/vendor/datatables/js/buttons.bootstrap4.min.js')
                script(src='/assets/vendor/inputmask/js/jquery.inputmask.bundle.js', type='28a8d99970ecd3dfecb24836-text/javascript')
                script(src='/assets/vendor/datepicker/tempusdominus-bootstrap-4.js')
                script(src='/assets/vendor/shortable-nestable/jquery.nestable.js')

                // slimscroll js
                script(src='/assets/vendor/slimscroll/jquery.slimscroll.js')
                // main js
                script(src='/assets/libs/js/main-js.js')
                // chart chartist js
                script(src='/assets/vendor/charts/chartist-bundle/chartist.min.js')
                // sparkline js
                script(src='/assets/vendor/charts/sparkline/jquery.sparkline.js')
                // morris js
                script(src='/assets/vendor/charts/morris-bundle/raphael.min.js')
                script(src='/assets/vendor/charts/morris-bundle/morris.js')
                // chart c3 js
                script(src='/assets/vendor/charts/c3charts/c3.min.js')
                script(src='/assets/vendor/charts/c3charts/d3-5.4.0.min.js')
                script(src='/assets/vendor/charts/c3charts/C3chartjs.js')
                script(src='/assets/libs/js/dashboard-ecommerce.js')
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
                script(src="https://code.jquery.com/jquery-3.4.1.js")
                script(src='/assets/libs/js/skt/search.js')
                
                
