tr
    td.text-light 
        input(type="checkbox", name='search_CheckBox_event', class="checkSelect")
    td.text-light #{val.country_name}
    td.text-light #{val.operator_name} 
    td.text-light #{val.MCC}
    td.text-light #{val.MNC}
