doctype html
html(lang='ko')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap-select/css/bootstrap-select.css')
    link(href='/assets/vendor/fonts/circular-std/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/libs/css/style.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
    link(rel='stylesheet', href='/assets/vendor/charts/chartist-bundle/chartist.css')
    link(rel='stylesheet', href='/assets/vendor/charts/morris-bundle/morris.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='/assets/vendor/charts/c3charts/c3.css')
    link(rel='stylesheet', href='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
    link(rel='stylesheet', href='/assets/vendor/datepicker/tempusdominus-bootstrap-4.css')
    link(rel='stylesheet', href='/assets/vendor/datatables/css/buttons.bootstrap4.css')
    link(rel='stylesheet', href='/assets/vendor/inputmask/css/inputmask.css')
    link(rel='stylesheet', href='/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/libs/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.css')
    link(href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet")
    
    title IRIS
  body
    // ==============================================================
    // main wrapper
    // ==============================================================
    .dashboard-main-wrapper
      // ==============================================================
      // navbar
      // ==============================================================
      .dashboard-header
        nav.navbar.navbar-expand-lg.fixed-top
          a.navbar-brand(href='/') Roaming Signage
        
          #navbarSupportedContent.collapse.navbar-collapse

            a.btn.btn-secondary(href='#', style="margin:10px", id="btn-ob") OUTBOUND
            a.btn.btn-outline-secondary(href='#', style="margin:10px", id="btn-ib") INBOUND

            li.navbar-nav.ml-auto.navbar-right-top
              //추가한 부분
              .input-group
                #header-search-form.form-group
                  //button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') TYPE
                  //.dropdown-menu.show(x-placement='bottom-start', style='position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;')
                  select.form-control-sm(id='search_option')
                    //option(value='', selected='') TYPE

                    option.dropdown-item(value='04') 사업자
                    if(option == '03')
                      option.dropdown-item(value='03' selected) 국가
                    else
                      option.dropdown-item(value='03') 국가

                    if(option == '05')
                      option.dropdown-item(value='05' selected) LTE 중계사업자
                    else
                      option.dropdown-item(value='05') LTE 중계사업자

                    if(option == '15')
                      option.dropdown-item(value='15' selected) 인입LTE 중계사업자
                    else
                      option.dropdown-item(value='15') 인입LTE 중계사업자

                    if(option == '09')
                      option.dropdown-item(value='09' selectec) 3G 중계사업자
                    else
                      option.dropdown-item(value='09') 3G 중계사업자

                .form-group
                  .input-group
                    input.form-control(id='search', type='text', value='#{input}')
                    .input-group-append
                      a.btn.input-group-text(href='#')
                        i.fas.fa-search

            //-
              li.nav-item.dropdown.nav-user
                a#navbarDropdownMenuLink2.nav-link.nav-user-img(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.user-avatar-md.rounded-circle(src='/assets/images/avatar-1.jpg', alt='')
                .dropdown-menu.dropdown-menu-right.nav-user-dropdown(aria-labelledby='navbarDropdownMenuLink2')
                  .nav-user-info
                    h5.mb-0.text-white.nav-user-name John Abraham 
                    span.status
                    span.ml-2 Available
                  a.dropdown-item(href='#')
                    i.fas.fa-user.mr-2
                    | Account
                  a.dropdown-item(href='#')
                    i.fas.fa-cog.mr-2
                    | Setting
                  a.dropdown-item(href='#')
                    i.fas.fa-power-off.mr-2
                    | Logout
            -//
      // ==============================================================
      // end navbar
      // ==============================================================
      // ==============================================================
      // left sidebar
      // ==============================================================
      


      // ==============================================================
      // end left sidebar
      // ==============================================================
      // ==============================================================
      // wrapper
      // ==============================================================
      .dashboard-wrapper
        .dashboard-ecommerce
          .container-fluid.dashboard-content#main-panel
            // ==============================================================
            // pageheader
            // ==============================================================
            //- .row
            //-   .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            //-     .page-header
            //-       h2.pageheader-title E-commerce Dashboard Template 
            //-       p.pageheader-text
            //-         | Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.
            //-       .page-breadcrumb
            //-         nav(aria-label='breadcrumb')
            //-           ol.breadcrumb
            //-             li.breadcrumb-item
            //-               a.breadcrumb-link(href='#') Dashboard
            //-             li.breadcrumb-item.active(aria-current='page') E-Commerce Dashboard Template
            // ==============================================================
            // end pageheader
            // ==============================================================
            
            // Main
            #cards-container
              .ecommerce-widget
                .row(id = 'cards')

    script(src='/assets/vendor/jquery/jquery-3.3.1.min.js')
    script(src='/assets/libs/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.js')
    script(src="/assets/libs/js/moment.js")
    script(src="/assets/libs/js/moment-timezone-with-data.js")
    script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')

    // search popup js
    script(src='/assets/libs/js/skt/search.js')
